GATSBY_API_URL=http://lo...com
GATSBY_API_KEY=280...a
GATSBY_API_FORM=efc...3
GATSBY_PROXY_URL=https://cors-anywhere.herokuapp.com/
#is required for client only route
GATSBY_EXPERIMENTAL_ROUTING_APIS=1