GOOGLE_OAUTH_CLIENT_ID=80...89.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=j..4
GOOGLE_DOCS_TOKEN={"access_token":"ya...LM","refresh_token":"1/...0","scope":"https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1...5}
GOOGLE_DOCS_FOLDER=1x...al